<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form action="/back" method="post" name="backForm">
        <nav class="navbar">
            <button type="submit" class="navbar-brand btn btn-link" id="logoButton">
                <img src="/images/NFLogo.png" alt="NutriFit Logo">
            </button>
            <a href="/logout" class="btn logout-btn">Logout</a>
        </nav>
    </form>

    <header class="header text-center">
        <h1>Community Connect</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit Post</h2>
                <form action="/updatePost" method="post" name="editPostForm">
                    <input type="hidden" name="postUid" th:value="${post.uid}">
                    <div class="form-group">
                        <label for="postTitle">Title</label>
                        <input type="text" class="form-control" id="postTitle" name="postTitle" th:value="${post.title}" required>
                    </div>
                    <div class="form-group">
                        <label for="postCategory">Category</label>
                        <select class="form-control" id="postCategory" name="postCategory">
                            <div th:if="${post.categoryType == 'General'}">
                                <option value="General">General</option>
                                <option value="Help">Help</option>
                            </div>
                            <div th:if="${post.categoryType == 'Help'}">
                                <option value="Help">Help</option>
                                <option value="General">General</option>
                            </div>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="postContent">Content</label>
                        <textarea class="form-control" id="postContent" name="postContent" rows="4" required>[[${post.content}]]</textarea> 
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <span>Stay connected with NutriFit.</span>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
