<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>NutriFit</title>
</head>
<body>
<div class="main-content">
  <header class="main-header">
    <div class="top-bar">
      <div class="logo-container">
        <img src="/images/NFLogo.png" alt="NutriFit Logo" class="center-logo">
      </div>
      <a href="/logout" class="btn logout-btn">Logout</a>
    </div>
    <div class="welcome-box">
      <div class="wrapper">
        <svg>
          <text x="50%" y="50%" dy=".35em" text-anchor="middle">
            WELCOME TO NUTRIFIT
          </text>
        </svg>
      </div>
      <div class="glitch-wrapper">
        <div class="glitch" text="Your path to a healthy lifestyle.">Your path to a healthy lifestyle.</div>
        <div class="glitch" th:text="'Enjoy your stay ' + ${user.name} + '!'"></div>
      </div>
    </div>
  </header>

  <div class="card-container">
    <!-- Recipe Finder Card -->
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="/images/search.png">
          <h3>RECIPE FINDER</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Expert recipe finder tailored to support your fitness goals and dietary preferences.</p>
          <a href="/meals">Explore</a>
        </div>
      </div>
    </div>

    <!-- Saved Meals Card -->
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="/images/save.png">
          <h3>MY MEALS</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Access your personal library of meals you saved to cook up.</p>
          <a href="/saved">View Meals</a>
        </div>
      </div>
    </div>

    <!-- Community Connect Card -->
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="/images/comm1.png">
          <h3>COMMUNITY</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Share your fitness journey with likeminded individuals who strive towards personal wellness.</p>
          <a href="/support">Connect</a>
        </div>
      </div>
    </div>

    <!-- Shopping Simplified Card -->
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="/images/image.png"> <!-- Changed the image to match the context -->
          <h3>SHOPPING</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Find all the grocery stores near you so you can get the ingredients you need.</p>
          <a href="/shopping">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <footer class="footer">
    <span>Stay connected with NutriFit.</span>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      plugins: [require('daisyui')],
    }
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
      var fadeInElements = document.querySelectorAll('.fade-in');
      fadeInElements.forEach(function(element) {
        setTimeout(function() {
          element.style.opacity = 1;
        }, 100);
      });
    });
  </script>
</body>
</html>