<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>NutriFit</title>
</head>
<body>
  <nav class="navbar">
    <img src="/images/NFLogo.png" alt="NutriFit Logo">
    <a href="/logout" class="btn logout-btn">Logout</a>
  </nav>

  <header class="header">
    <h1>Welcome to NutriFit</h1>
    <p>Your path to a healthy lifestyle.</p>
    <p class="welcome fade-in" th:text="'Welcome back, ' + ${user.name} + '!'"></p>
  </header>

  <div class="container features">
    <!-- Feature 1 - Personalized Meal Plans -->
    <a th:href="@{/meals}" class="feature-item-link">
      <div class="feature-item">
        <h3>Recipe Finder</h3>
        <p>Expert recipe finder tailored to support your fitness goals and dietary preferences.</p>
      </div>
    </a>
    <a th:href="@{/saved}" class="feature-item-link">
      <div class="feature-item">
        <h3>My Meals</h3>
        <p>Access all the meals you saved to cook up.</p>
      </div>
    </a>
    <a th:href="@{/support}" class="feature-item-link">
      <div class="feature-item">
        <h3>Community Connect</h3>
        <p>Connect with peers and experts to share experiences and plans.</p>
      </div>
    </a>
    <a th:href="@{/shopping}" class="feature-item-link">
      <div class="feature-item">
        <h3>Shopping Simplified</h3>
        <p>Smart grocery lists that adapt to your plans and budget.</p>
      </div>
    </a>
  </div>
  

  <footer class="footer">
    <span>Stay connected with NutriFit.</span>
  </footer>

  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
      var fadeInElements = document.querySelectorAll('.fade-in');
      fadeInElements.forEach(function(element) {
        setTimeout(function() {
          element.style.opacity = 1;
        }, 100);
      });
    });
  </script>
</body>
</html>
