<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS File -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>NutriFit</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img src="/images/NFLogo.png" alt="NutriFit Logo"></a>
        <!-- Navigation content -->
    </nav>

    <div class="container">
        <div class="welcome-message">
            <h1>Welcome to NutriFit</h1>
            <p>Your path to a healthy lifestyle.</p>
        </div>
        
        <!-- Here's how you can include an image -->
        <img src="/images/NF_Small.png" alt="Descriptive text about the image">

        <!-- Additional content here -->
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Stay connected with NutriFit.</span>
        </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Main JavaScript File -->
    <script src="main.js"></script>
</body>
</html>
