<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Shopping</title>
</head>
<body>
  <nav class="navbar">
    <img src="/images/NFLogo.png" alt="NutriFit Logo">
    <a href="/logout" class="btn logout-btn">Logout</a>
  </nav>

  <header class="header">
    <h1>Shopping</h1>
  </header>

  <form action="/back" method="post" name="backForm">
    <div class="row justify-content-center">
        <button type="submit" class ="btn btn-primary">Back</button>
      </div>
  </form>
  
  <footer class="footer">
    <span>Stay connected with NutriFit.</span>
  </footer>

  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
