/* Colaborate Font Faces */
@font-face {
    font-family: 'Colaborate';
    src: url('/fonts/ColabBol.woff') format('woff');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Colaborate';
    src: url('/fonts/ColabLig.woff') format('woff');
    font-weight: 300; /* Light */
  }
  
  @font-face {
    font-family: 'Colaborate';
    src: url('/fonts/ColabMed.woff') format('woff');
    font-weight: 500; /* Medium */
  }
  
  @font-face {
    font-family: 'Colaborate';
    src: url('/fonts/ColabReg.woff') format('woff');
    font-weight: normal; /* Regular */
  }
  
  @font-face {
    font-family: 'Colaborate';
    src: url('/fonts/ColabThi.woff') format('woff');
    font-weight: 100; /* Thin */
  }
  
  /* Basic reset for styling consistency */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Colaborate', sans-serif;
    background-color: #DEEBE1; 
    line-height: 1.6;
    color: #333;
  }

  /* Apply specific font weights to headings */
    h1, h2, h3 {
        font-weight: bold; /* Use bold for primary headings */
    }
  
  h4, h5, h6 {
    font-weight: 500; /* Medium for less prominent headings */
  }

/* Centering the logo */
header img {
  display: block; /* Align img to the center of its container */
  margin-left: auto;
  margin-right: auto;
}

/* Custom style for inputs to change focus ring colors */
.input-focused:focus {
  border-color: #4FD1C5; /* Tailwind's teal-400 for example */
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 2px #4FD1C5; /* Custom focus ring */
}

/* Custom style for the login button */
.login-button {
  background-color: #10B981; /* Tailwind's green-500 for example */
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  font-weight: bold;
}

.login-button:hover {
  background-color: #059669; /* Tailwind's green-600 for example */
}

/* Footer styling */
.footer {
  padding: 1rem;
  color: #6B7280; /* Tailwind's gray-500 for example */
  font-size: 0.875rem; /* Tailwind's text-sm */
}

.navbar {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.footer{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}