/* Basic reset for styling consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colaborate Font Faces */
@font-face {
  font-family: 'Colaborate';
  src: url('/fonts/ColabBol.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Colaborate';
  src: url('/fonts/ColabLig.woff') format('woff');
  font-weight: 300; /* Light */
}

@font-face {
  font-family: 'Colaborate';
  src: url('/fonts/ColabMed.woff') format('woff');
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: 'Colaborate';
  src: url('/fonts/ColabReg.woff') format('woff');
  font-weight: normal; /* Regular */
}

@font-face {
  font-family: 'Colaborate';
  src: url('/fonts/ColabThi.woff') format('woff');
  font-weight: 100; /* Thin */
}

/* Global styles */
body {
  font-family: 'Colaborate', sans-serif;
  background-color: #fff;
  line-height: 1.6;
  color: #333;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Colaborate', sans-serif;
  font-weight: bold; /* Bold for primary headings */
}

h4, h5, h6 {
  font-family: 'Colaborate', sans-serif;
  font-weight: 500; /* Medium for secondary headings */
}

/* Text with lighter emphasis */
.light-text {
  font-weight: 300; /* Light */
}

/* Container styling */
.container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

/* Navigation styling */
.navbar {
  background-color: #deebe1;
  color: #457b9d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar a {
  text-decoration: none;
  color: #457b9d;
}

.navbar img {
  width: 300px;
}

/* Footer styling */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
}

.footer span {
  color: #deebe1;
}


/* Recipe card styling */
.results {
  margin-top: 30px;
}

.recipe {
  margin-bottom: 30px;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.recipe:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.recipe img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.recipe h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.custom-img-size {
  max-width: 200px;
  height: auto;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .features {
    flex-direction: column;
  }
}

/* Save recipe button styling */
.save-recipe-btn {
  background-color: #28a745;
  border-color: #28a745;
}

.save-recipe-btn:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* Logout button styling */
.logout-btn {
  padding: 5px 15px;
  border: 1px solid #457b9d;
  background-color: transparent;
  color: #457b9d;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #457b9d;
  color: #fff;
}

.btn.btn-primary {
  background-color: #10B981; /* Tailwind's green-500 for example */
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  font-weight: bold;
}

.btn.btn-primary:hover {
  background-color: #059669;
}

.btn.btn-danger {
  background-color: lightcoral; /* Tailwind's green-500 for example */
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  font-weight: bold;
}

.btn.btn-danger:hover {
  background-color: red;
}

.btn.btn-info {
  background-color: lightblue; /* Tailwind's green-500 for example */
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  font-weight: bold;
}

.btn.btn-info:hover {
  background-color: rgb(87, 190, 224);
}

.btn.btn-secondary {
  background-color: lightgray; /* Tailwind's green-500 for example */
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  font-weight: bold;
}

.btn.btn-secondary:hover {
  background-color: gray;
}
#logoButton img {
  transition: transform 0.2s ease-in-out;
}

#logoButton:hover img {
  transform: scale(1.1);
}